body {
  background-color: azure;
}

.navbar {
  background-color: rgb(178, 201, 202);
}

.navbar ul {
  list-style: none;
}

h1 {
  color: blueviolet;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
